.hidden {
  display: none;
}
.nav {
  position: sticky;
  background-color: #f0f0f0;
  box-sizing: border-box;
  color: #333;
  display: flex;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buttons {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 1s ease, scale 500ms ease;
  flex: 1;
  box-sizing: border-box;
  border: #005f6b solid 2px;
}
.buttons:hover {
  background-color: #005f6b;
  scale: 0.8;
}

iframe {
  width: 100%;
  border: none;
  transition: height 0.2s;
}
